---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Junior Full Stack",
    company: "TwinViz",
    description: `Desarrollo de una aplicación completa con Node.js y Express en el backend, utilizando PostgreSQL 
      y Sequelize para la gestión de bases de datos y Auth0 para la 
      autenticación. En el frontend, se emplea React junto con React 
      Router para asegurar una navegación eficiente y un diseño responsivo 
      basado en Figma. En cuanto a DevOps, se establecen pipelines de CI/CD 
      con GitHub Actions para automatizar pruebas, despliegues y la gestión 
      de migraciones y secretos, además de una implementación inicial en AWS.`,
    //link: "https://twitch.tv/midudev",
  },
  {
    date: "Enero 2024 - Abril 2024",
    title: "Practica Industrial",
    company: "Agrosuper",
    description: `Apoyo en tareas técnicas de supervisión y configuración de plataformas para el desarrollo de software, específicamente en Microsoft 
      Power Platform, Microsoft Azure y GitHub Enterprise Cloud.Desarrollo 
      de Github Actions y Azure Pipelines a través de archivos YAML, para 
      realizar integración continua y despliegue continuo (CI/CD) para 
      automatizar el proceso de desarrollo de software y de aplicaciones 
      NoCode de Power Apps.`,
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
